<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
  	<meta name="keywords" content="关于我们">
	<meta name="description" content="关于我们">
	<meta name="author" content="xuelangcxy">
 	<meta name="application-name" content="博厚至诚">
	<link rel="icon" href="images/favicon.jpg">

	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
<div class="nv_portal">
<div id="headnav">
	<div class="header">
		<div class="hdr">
			<div class="wp">
				<div class="hd_logo">
					<a href="./" title="博厚至诚">
						<img src="/images/logo.png" alt="博厚至诚" border="0">
					</a>
				</div>
				<div class="nav">
					<ul>
          <li class="a active" id="mn_portal">
              <a href="./home" hidefocus="true" title="Main">首页<span>Main</span></a>
            </li>
						<li id="profile">
							<a href="./profile" hidefocus="true" title="Profile">公司简介<span>Profile</span></a>
						</li>
						<li id="team">
							<a href="./team">至诚团队<span>
								Team
							</span></a>
						</li>
						<li id="about">
							<a href="./about" hidefocus="true" title="About">关于我们<span>About</span></a>
						</li>
						<li id="recruitment">
							<a href="./recruitment" hidefocus="true" title="Recruitment">招贤纳士<span>Recruitment</span></a>
						</li>
						<li id="contact">
							<a href="./contact" hidefocus="true" title="Contact">联系我们<span>Contact</span></a>
						</li>
						<!-- <li id="english">
							<a href="./english" hidefocus="true" title="English">English</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div><!-- header -->
</div>
</div>

    <footer class="footer">
      <p>版权所有&nbsp;&copy;xuelangcxy&nbsp;北京邮电大学&nbsp;&nbsp;地址:北京市西土城路10号&nbsp;&nbsp;邮编:100876&nbsp;&nbsp;ISWIT（智慧无线移动信息技术研究中心）</p>
    </footer>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/about.js"></script>
</body>
</html>