<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
  <meta name="keywords" content="首页">
	<meta name="description" content="首页">
	<meta name="author" content="xuelangcxy">
  <meta name="application-name" content="博厚至诚">
	<link rel="icon" href="images/favicon.jpg">

	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
<div class="nv_portal">
<div id="headnav">
	<div class="header">
		<div class="hdr">
			<div class="wp">
				<div class="hd_logo">
					<a href="./" title="博厚至诚">
						<img src="/images/logo.png" alt="博厚至诚" border="0">
					</a>
				</div>
				<div class="nav">
					<ul>
          <li class="a active" id="mn_portal">
              <a href="./home" hidefocus="true" title="Main">首页<span>Main</span></a>
            </li>
						<li id="profile">
							<a href="./profile" hidefocus="true" title="Profile">公司简介<span>Profile</span></a>
						</li>
						<li id="team">
							<a href="./team">至诚团队<span>
								Team
							</span></a>
						</li>
						<li id="about">
							<a href="./about" hidefocus="true" title="About">关于我们<span>About</span></a>
						</li>
						<li id="recruitment">
							<a href="./recruitment" hidefocus="true" title="Recruitment">招贤纳士<span>Recruitment</span></a>
						</li>
						<li id="contact">
							<a href="./contact" hidefocus="true" title="Contact">联系我们<span>Contact</span></a>
						</li>
						<!-- <li id="english">
							<a href="./english" hidefocus="true" title="English">English</a>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div><!-- header -->
</div>
</div>
	<div class="focus_con">
  <div class="focus_box">
  <div class="focus_list">
	<div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="jumbotron item active" id="item1">
        <div class="content">
          <h2>平台简介</h2>
            <p>空气质量监测平台是先进的一体式室内外环境空气质量监测系统。系统的所有设备都装在一个机柜内，包括分析仪模块、校准模块、采样系统、数据记录器、无纸表格记录器、通讯系统等，这样通过电话线即可远程获取空气质量数据。</p>
            </div>
        </div>
        <div class="jumbotron item" id="item2">
        <div class="content">
          <h2>主要特点</h2>
            <p>
            1.可以在计算机WindowsTM操作系统下方便的操作、设置和标定Ambirak系统；
            2.远端主机可实现对系统的远程控制和通讯功能；
            3.自动生成数据报表、标定报告、审查报告和事件报告；
            4.完备的系统记录和诊断记录，便于数据审计和技术维护。</p>
            </div>
        </div>
        <div class="jumbotron item" id="item3">
        <div class="content">
          <h2>系统结构</h2>
            <p>干法监测子站主要由样品采集、空气自动分析仪、气象参数传感器、动态自动校准系统、数据采集和传输系统以及条件保证系统等组成。</p>
            </div>
        </div>
        <div class="jumbotron item" id="item4">
        <div class="content">
          <h2>产品分类</h2>
            <p>SO2自动分析仪、NOx分析仪、O3分析仪、PM10分析仪。</p>
            </div>
        </div>
      </div>
    </div><!-- myCarousel -->
    </div>
    </div>
    </div>

<div class="container">
    <div class="part">
    <div class="frame1">
      <div class="frame">
      <span class="icon"></span>
      <h3>公司简介</h3>
      <a href="./profile" title="公司简介" class="more">更多</a>
      </div>
      </div>
    </div>
    </div>

<div class="profile_frame">
<div class="profile_left">
    <div class="topful">
      <a href="#" target="_blank">
        <img src="/images/profile/IMG_3867.jpg" width="534px" height="350px" title="博厚励志，改变中国少年的精神面貌">
      </a>
      </div>
      <div class="sum">
        <a href="#"><p>博厚励志，改变中国少年的精神面貌</p></a>
        <p class="sum_text">博厚至诚研学旅行以6—18周岁的中小学生为服务群体，以“一次研学，一生受益”为目的，旨在让中小学生走出校园，走进名校课堂；离开温室，踏入烈士染红的土地，找寻为祖国拼搏、为人生努力的迸发点。</p>
      </div>
      </div>
      <div class="profile_li">
        <li>
          <div class="simbox">
            <a href="#">
              <img src="/images/profile/4.jpg" width="100px" height="75px" title="博厚励志">
              <div class="mask">
                <span>+</span>
              </div>
            </a>
          </div>
            <div class="profile_text">
            <a href="#" title=""><p class="text1">博厚励志，改变中国少年的精神面貌</p></a>
            <p class="text_1_detail">南京大学博厚至诚有限公司是南京大学和东南大学联合创办的校友企业，公司现拥有南京大学、浙江大学、东南大学、复旦大学等著名高校专、兼职辅导员100余人，致力于让研学旅行走进每一个家庭已三载有余。</p>
            </div>
        </li>
        <li>
          <div class="simbox">
            <a href="#">
              <img src="/images/profile/5.png" width="100px" height="75px" title="博厚励志">
              <div class="mask">
                <span>+</span>
              </div>
            </a>
          </div>
            <div class="profile_text">
            <a href="#" title=""><p class="text1">博厚励志，改变中国少年的精神面貌</p></a>
            <p class="text_1_detail">南京大学博厚至诚有限公司是南京大学和东南大学联合创办的校友企业，公司现拥有南京大学、浙江大学、东南大学、复旦大学等著名高校专、兼职辅导员100余人，致力于让研学旅行走进每一个家庭已三载有余。</p>
            </div>
        </li>
        <li>
          <div class="simbox">
            <a href="#">
              <img src="/images/profile/7.jpg" width="100px" height="75px" title="博厚励志">
              <div class="mask">
                <span>+</span>
              </div>
            </a>
          </div>
            <div class="profile_text">
            <a href="#" title=""><p class="text1">博厚励志，改变中国少年的精神面貌</p></a>
            <p class="text_1_detail">南京大学博厚至诚有限公司是南京大学和东南大学联合创办的校友企业，公司现拥有南京大学、浙江大学、东南大学、复旦大学等著名高校专、兼职辅导员100余人，致力于让研学旅行走进每一个家庭已三载有余。</p>
            </div>
        </li>
        <li>
          <div class="simbox">
            <a href="#">
              <img src="/images/profile/4.jpg" width="100px" height="75px" title="博厚励志">
              <div class="mask">
                <span>+</span>
              </div>
            </a>
          </div>
            <div class="profile_text">
            <a href="#" title=""><p class="text1">博厚励志，改变中国少年的精神面貌</p></a>
            <p class="text_1_detail">南京大学博厚至诚有限公司是南京大学和东南大学联合创办的校友企业，公司现拥有南京大学、浙江大学、东南大学、复旦大学等著名高校专、兼职辅导员100余人，致力于让研学旅行走进每一个家庭已三载有余。</p>
            </div>
        </li>
        <li>
          <div class="simbox">
            <a href="#">
              <img src="/images/profile/7.jpg" width="100px" height="75px" title="博厚励志">
              <div class="mask">
                <span>+</span>
              </div>
            </a>
          </div>
            <div class="profile_text">
            <a href="#" title=""><p class="text1">博厚励志，改变中国少年的精神面貌</p></a>
            <p class="text_1_detail">南京大学博厚至诚有限公司是南京大学和东南大学联合创办的校友企业，公司现拥有南京大学、浙江大学、东南大学、复旦大学等著名高校专、兼职辅导员100余人，致力于让研学旅行走进每一个家庭已三载有余。</p>
            </div>
        </li>
      </div>
      </div>

<div class="container team_container" id="team_container">
    <div class="part">
    <div class="frame1">
      <div class="frame">
      <span class="icon1"></span>
      <h3>至诚团队</h3>
      <a href="./team" title="至诚团队" class="more">更多</a>
      </div>
      </div>
    </div>
    </div>

    <div class="team_frame">
      <div class="sort">
        <a href="#team_container"><p class="active">至诚团队</p></a>
        <a href="#about_container"><p>关于我们</p></a>
        <a href="#recruitment_container"><p>招贤纳士</p></a>
      </div>
      <div class="graphic">
        <div class="plate">
          <div class="left_pflow">
            <div class="item fore4">
              <div class="p-img">
                <a href="#" target="_blank">
                <div class="p-info">名正
              <br>
              <span>负责人均为浙大、南大毕业生</span>
              <br>
              <span>依托浙大、南大、东大的优势资源
              </span>
              <br>
              <span>庞大的专家、教授、院士、状元阵容
              </span>
              </div>
                  <img src="/images/team/team1.jpg" alt="" class="img">
                </a>
                <div class="p-name">名正</div>
                
              </div>
            </div>
          </div>
          <div class="right_pflow">
          <!-- <div class="right_up">
              <div class="p-img left_img little_img">
                <a href="#" target="_blank">
                  <img src="/images/team/team2.jpg" alt="">
                  <div class="p-name1">质优</div>
                </a>
              </div>
              <div class="p-img right_img little_img">
                <a href="#" target="_blank">
                  <img src="/images/team/team3.jpg" alt="">
                </a>
              </div>
              </div>
              <div class="right_down">
              <div class="p-img left_img little_img">
                <a href="#" target="_blank">
                  <img src="/images/team/team4.jpg" alt="">
                </a>
              </div>
              <div class="p-img right_img little_img">
                <a href="#" target="_blank">
                  <img src="/images/team/team5.jpg" alt="">
                </a>
              </div>
              </div> -->
              <ul>
                <li>
                  <div class="p-img left_img little_img">
                    <a href="#" target="_blank">
                      <div class="p-info1">
                        质优
                        <br>                
                        <span>超过3年的无事故接待</span>
                        <br>                
                        <span>带给学生们的正能量攀升</span>
                        <br>                
                        <span>开阔视野，提升能力</span>
                      </div>
                      <img src="/images/team/team2.jpg" alt=""></a>
                      <div class="p-name1">质优</div>
                  </div>
                </li>
                <li>
                  <div class="p-img right_img little_img">
                    <a href="#" target="_blank">
                    <div class="p-info2">
                        义重
                        <br>                
                        <span>同吃、同住、同学、同游</span>
                        <br>                
                        <span>厚德励志，薪火相传</span>
                        <br>                
                        <span>交流学习及生活经验</span>
                      </div>
                      <img src="/images/team/team3.jpg" alt=""></a>
                      <div class="p-name2">义重</div>
                  </div>
                </li>
                <li>
                  <div class="p-img left_img little_img">
                    <a href="#" target="_blank">
                    <div class="p-info3">
                        安全
                        <br>                
                        <span>医疗人员随队出行</span>
                        <br>                
                        <span>保障安全出行</span>
                      </div>
                      <img src="/images/team/team4.jpg" alt=""></a>
                      <div class="p-name3">安全</div>
                  </div>
                </li>
                <li>
                  <div class="p-img right_img little_img">
                    <a href="#" target="_blank">
                    <div class="p-info4">
                        后续
                        <br>                
                        <span>定期组织回访学校</span>
                        <br>                
                        <span>长期沟通，巩固情谊</span>
                      </div>
                      <img src="/images/team/team5.jpg" alt=""></a>
                      <div class="p-name4">后续</div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container about_container" id="about_container">
    <div class="part">
    <div class="frame1">
      <div class="frame">
      <span class="icon2"></span>
      <h3>关于我们</h3>
      <a href="./about" title="关于我们" class="more">更多</a>
      </div>
      </div>
    </div>
    </div>

    <div class="about_frame">
      <div class="sort">
        <a href="#team_container"><p>至诚团队</p></a>
        <a href="#about_container"><p class="active">关于我们</p></a>
        <a href="#recruitment_container"><p>招贤纳士</p></a>
      </div>
      <ul>
        <li>
          <a href="#" target="_blank">
            <div class="about_info">
              <p>名师讲堂</p>
              <P>高素质演讲团队</P>
              <p>国内知名品牌研学项目</p>
            </div>
            <img src="/images/about/0.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="about_info">
              <p>安全保障</p>
              <P>零安全事故率</P>
              <p>高标准的安全保障</p>
            </div>
            <img src="/images/about/1.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="about_info">
              <p>指挥</p>
              <P>全程监控进程</P>
              <p>统筹协调各模块工作</p>
            </div>
            <img src="/images/about/2.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="about_info">
              <p>活动</p>
              <P>全程报告现场安全秩序</P>
              <p>让学生们受益终生</p>
            </div>
            <img src="/images/about/3.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <div class="about_info">
              <p>客服</p>
              <P>核实学生个人信息</P>
              <p>意外保险</p>
            </div>
            <img src="/images/about/4.jpg" alt="">
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
          <div class="about_info">
              <p>随时联系</p>
              <P>构建空中安全防护网</P>
              <p>让安全隐患无处遁形</p>
            </div>
            <img src="/images/about/5.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>

    <div class="container recruitment_container" id="recruitment_container">
    <div class="part">
    <div class="frame1">
      <div class="frame">
      <span class="icon3"></span>
      <h3>招贤纳士</h3>
      <a href="./recruitment" title="招贤纳士" class="more">更多</a>
      </div>
      </div>
    </div>
    </div>

    <div class="recruitment_frame">
      <div class="sort">
        <a href="#team_container"><p>至诚团队</p></a>
        <a href="#about_container"><p>关于我们</p></a>
        <a href="#recruitment_container"><p class="active">招贤纳士</p></a>
      </div>
    </div>

    <div class="container contact_container">
    <div class="part">
    <div class="frame1">
      <div class="frame">
      <span class="icon4"></span>
      <h3>联系我们</h3>
      <a href="./contact" title="联系我们" class="more">更多</a>
      </div>
      </div>
    </div>
    </div>

    <footer class="footer">
      <p>版权所有&nbsp;&copy;xuelangcxy&nbsp;北京邮电大学&nbsp;&nbsp;地址:北京市西土城路10号&nbsp;&nbsp;邮编:100876&nbsp;&nbsp;ISWIT（智慧无线移动信息技术研究中心）</p>
    </footer>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/home.js"></script>
<script type="text/javascript">
  $('#myCarousel').carousel({
   interval:5000
  });
</script>
</body>
</html>